{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="callout alert">
        {{ exception.message }}<br><br>
        {{ exception.file }}:{{ exception.line }}
    </div>
{% endblock %}