{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="row medium-up-1 large-up-3 frontpage-intro">
        <div class="column">
            <div class="callout">
                <h3>Input</h3>
                <p><a href="{{ path('inputs') }}"><img src="images/input.svg" alt="Setup your input"></a></p>
                <p class="lead">Setup your <strong>INPUT</strong> APIs</p>
                <p class="subheader">You can use whatever public API uses OAuth1 or OAuth2 authentication method</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <h3>Output</h3>
                <p><a href="{{ path('outputs') }}"><img src="images/output.svg" alt="Setup your output"></a></p>
                <p class="lead">Setup your <strong>OUTPUT</strong> databases</p>
                <p class="subheader">Setup your output database using existing drivers*</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <h3>Relations</h3>
                <p><a href="{{ path('relations') }}"><img src="images/relations.svg" alt="Map relations"></a></p>
                <p class="lead">Map response <strong>RELATIONS</strong></p>
                <p class="subheader">Map API responses to database relations</p>
            </div>
        </div>
    </div>
    <strong>* Existing drivers: Neo4j, Jena fuseki</strong>
{% endblock %}