{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <div class="row medium-up-1 large-up-3 frontpage-intro">
        <div class="column">
            <div class="callout">
                <h3>Input</h3>
                <p><img src="images/input.svg" alt="Setup your input"></p>
                <p class="lead">Setup your <strong>INPUT</strong> APIs</p>
                <p class="subheader">You can use public APIs that uses OAuth1 or OAuth2 authentication method*</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <h3>Output</h3>
                <p><img src="images/output.svg" alt="Setup your output"></p>
                <p class="lead">Setup your <strong>OUTPUT</strong> databases</p>
                <p class="subheader">Setup your output database using existing drivers*</p>
            </div>
        </div>
        <div class="column">
            <div class="callout">
                <h3>Relations</h3>
                <p><img src="images/relations.svg" alt="Map relations"></p>
                <p class="lead">Create <strong>RELATIONS</strong></p>
                <p class="subheader">Let api2DB create relations between input data</p>
            </div>
        </div>
    </div>
    <strong>* Existing input drivers: Twitter, Facebook, Instagram</strong><br>
    <strong>* Existing output drivers: Neo4j, Jena fuseki</strong>
{% endblock %}