#body-content {
    padding: 0 2%;
}

.frontpage-intro .callout {
    height: 375px;
}
.frontpage-intro .callout img {
    height:130px;
    width: 100%;
}
.frontpage-intro .lead {
    height: 66px;
}
.input-meta {
    display: none;
}

.list-none {
    list-style: none;
}