inputs:
    twitter:
        credentials:
            identifier:     id
            secret:         secret
            client_key:     client_key
            client_secret:  client_secret
    instagram:
        credentials:
            identifier:     id
            secret:         secret
            access_token:   token
    facebook:
        credentials:
            identifier:     id
            secret:         secret
            access_token:   token
outputs:
    jena:
        host: jena_host
        port: 3030
    neo4j:
        host: neo_host
        port: 7474
parameters:
    ner_path: '/path/to/ner'