{% extends 'layouts/layout.html.twig' %}

{% block body %}
    {% if endpoints|length %}
        <ul class="list-none">
            {% for endpoint in endpoints %}
                <li><a href="{{ path('endpoint_delete', {'driver': driver, 'index': loop.index - 1 }) }}" data-name="{{ endpoint.url }}" class="delete-io"><i class="fa fa-trash" aria-hidden="true"></i></a> {{ endpoint.url }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No endpoints defined</h2>
    {% endif %}
    <a href="{{ path('endpoint_create', {'driver':driver}) }}">+ Add Endpoint</a>
{% endblock %}