<div class="small-14 map-input-box">
    <div class="small-4 float-left">
        <input type="text" name="source[__number__]">
    </div>
    <div class="small-4 float-left">
        <select name="relation[__number__]">
            {% for relation in relations %}
            <option value="{{ relation }}">{{ relation }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="small-4 float-left">
        <input type="text" name="dest[__number__]">
    </div>
</div>
