<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to apiDBio</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>api2DB Importer</title>
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {% include 'layouts/sidebar.html.twig' %}
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="callout primary">
                <div class="small-up-1">
                    <h1>Welcome to api2DB I/O :)</h1>
                    <p class="lead">api2DB is the implementation of my Msc thesis on Big Data and its scope is to migrate API responses (semi-structured data) structured data (RDF, Graph DB, NoSQL, SQL etc.).<br>The final result will be a unified environment in which we can query these semi-structured data.</p>
                </div>
            </div>
            <div class="small-up-2 medium-up-3 large-up-4">
                <div id="body-content">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/what-input.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>